.autocomplete{
    width: 345px;
    position: absolute;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    background: #fff;
}

.city{
    padding: 10px 20px;
    background: #fff;
}

.active{
    color: #fff;
    background: #08244f;
}