.sunTime
    color: #fff
    gap: 10px
    border-radius: 10px
    background: #00000021
    padding: 20px

    .sunTime_container, .sunTime_title
        gap: 10px
        display: flex
        align-items: center
        justify-content: space-between

        .sunrise, .sunset
            flex-direction: column
            align-items: center
            display: flex
            justify-content: center
            gap: 10px

        .separation
            position: absolute
            height: 60px
            width: 1.5px
            background: #fff
            left: 50%
