@import './mixin'

.today_card
    gap: 15px
    width: 25%
    flex-direction: column
    @include centerContent   

.today_card:nth-child(1)
    transform: translateX(-10px)

.today_card:nth-child(2)
    transform: translateX(-5px)

.today_card:nth-child(4)
    transform: translateX(10px)